* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #d3cce3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d3cce3, #e9e4f0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d3cce3, #e9e4f0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}